<!DOCTYPE html>
<html>
<head>
  <title>Web git</title>
  <%= stylesheet_link_tag    "web_git/application", media: "all" %>
  <%= javascript_include_tag "web_git/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
